<div class="col-lg">

	<p>O <a href="./{{ baseurl }}"> {{ site.title }}</a> é uma ferramenta de comunicação segura para você fazer denúncias, prezando pela não retaliação daqueles que, de boa-fé, relatam ocorrências de que tenham conhecimento.</p>
	
	<br/>

	<h3 class="experiencia">{{ include.title }}</h3>
	<p>Todos os relatos registrados nesse canal são confidenciais e podem ser feitos anonimamente.</p>
	<p>Essa ferramenta permite coletar e tratar informações de colaboradores, clientes, fornecedores ou parceiros que ajudem a companhia com relatos sobre violações ao Código de Conduta Ética e Políticas Internas ou à legislação vigente.</p>
	
</div>